/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/*---CLASSES---*/
.clear{
clear: both;
}
.l-img{
margin: 10px;
float: left;
}
.r-img{
margin: 10px;
float: right;
}
.alpha{
margin-left:0;
}
.omega{
margin-right:0;
}


.error{
    color:red;
}

/*---END CLASSES---*/



/*---HTML---*/
ul, ol {
list-style:none;
}

a:link{
color:#cccccc;
text-decoration: none;
}

a:visited{
text-decoration:none;
color: #cccccc;
}

a:hover{
text-decoration:none;
color: #cccccc;
}

a:active:{
text-decoration:none;
}
/*---END HTML---*/


/*---LAYOUT---*/
#content {
margin: auto;
width: 980px;
}
#header {
width: 960px;
float: left;
margin: 0 0 0 0;
background-color: #000000;
}

#header-index {
position: fixed;
width: 960px;
float: left;
margin: 0 0 0 0;
background-color: #000000;
}
/*---END LAYOUT---*/




/*---LOGO---*/



#logo{
width: 150px;
height: 50px;
float: left;
background-image: url(../images/logo2.png);
background-repeat:no-repeat;
margin: 3px 8px 0px 10px;
}

#logo span{
display: none;
}
/*---END LOGO---*/


/*---MENU---*/
#menu ul li{
display: inline;
padding-right: 50px;
float: left;
padding-top: 15px;
color: #cccccc;
}
#menu ul {
margin-left: 400px;
}

#menu {
text-decoration: bold;
}


#search{
float: left;
margin-left: 100px;
line-height: 50px;
}

#searchprincipal{
position: fixed;
top: 50%;
left: 50%;
margin-top: -10px;
margin-left: -100px;
}

.search-home{
vertical-align: middle;
border: 1px solid #CCC;
-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
height: 20px;
}

.search-button-home{
vertical-align: middle;

}
#user{
float:right;
background-color: #666666;
height: 53px;
width: 110px;
color: #ffffff;
text-align: center;
line-height: 53px;
}

/*---END MENU---*/


/*---NAV---*/
#nav{
float: left;
padding-top: 20px;
padding-bottom: 10px;
width: 960px;
font-weight: bold;
}

#navrojo {
color: #A61C1C;
}
#nav span{
text-decoration: bold;

}
/*---END NAV---*/



/*---PRODUCT---*/
#product{
float: left;
width: 960px;
}

#left{
float:left;
}
#space{
float:left;}
#right{
position: relative;
display: block;
}
#product-info p{
text-decoration:none;
text-align: justify;
font-size: 16px;
}

#product-info h1 {
font-size: 29px;
font-weight: bold;
color: #333;
padding-bottom: 6px;
}
#tienda-acceso{
font-weight: bold;
}
#tienda-acceso a{
color:#000;    
font-weight: bold;
}
#product-info h2 {
padding-bottom: 11px;
font-size: 23px;
color: #666;
font-weight: lighter;
letter-spacing: 0;
}

.price {
font-size: 22px;
font-weight: bold;
color: #333;
line-height: 22px;
}

.def_select {
font-size: 12px;
color: black;
border: 1px solid #CCC;
-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 3px 5px;
cursor: pointer;
height: 27px;
width: 70px;
line-height: 27px!important;
}

#boton {

padding-left: 30px;
}
.boton {
	background-color:#a61c1c;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #914040;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	padding:4px 21px;
	text-decoration:none;
}.boton:hover {
	background-color:#9c1d1d;
}.boton:active {
	position:relative;
	top:1px;
}


#product-info p{
padding-top: 50px;
color: #666;
}

#price-area {
padding-top: 30px;
}

#cuantos {
padding-left: 150px;
color: #666666;
}
.detalles{
padding-top: 20px;
}

#details h3{
padding-bottom: 10px;
font-size: 18px;
color: #1E1D1D;
font-weight: bold;
}

#details p{
color: #666;

}
ul.detalles label {
width: 104px;
color: #999;
float: left;
}

ul.detalles li {
border-top: 1px dotted #666;
padding: 6px 0;
overflow: hidden;
}

#details {
padding-top:50px;
}
/*---END PRODUCT---*/


/*---THUMBS PRODUCT VIEW---*/
#thumbs{
float: left;
width: 400px;
height: 600px;
}
#thumbs li{
display: inline;
}
#main-img{

}
/*---END THUMBS PRODUCT VIEW---*/





/*---PRODUCT DESCRIPTION---*/

/*---END PRODUCTO DESCRIPTION---*/

/*---PRODUCT DETAILS---*/

/*---END PRODUCTO DETAILS---*/

/*---PRODUCT ANSWERS---*/
#answers h3{
padding-bottom: 10px;
font-size: 18px;
color: #A61C1C;
font-weight: bold;
}
/*---END PRODUCTO ANSWERS---*/


/*---CONTENIDO---*/

#contenido {
height: auto;

}

/*---END CONTENIDO---*/


/*---RATE FORM----*/

.rate{
    color:red;    
}

/*---END RATE FORM---*/

/*---PRODUCT FOOTER---*/
#footer{
margin: 20px 0 20px 40px;
font-size: 10px;
}

#footer ul li{
width: 960px;
display: inline;
padding-right: 50px;
color: #333333;
}
#footer a {
color: #333333;
}

#footer span {
color: #333333;
margin-left: 500px;}

#menufooter{
float:left;
}
/*---END PRODUCTO FOOTER---*/



/*---PRODUCT FOOTER---*/
#footer-index{
position: fixed;
top:93%;
margin: 20px 0 20px 40px;
font-size: 10px;
background:#fff;
}

#footer-index ul li{
width: 960px;
display: inline;
padding-right: 50px;
color: #333333;
}
#footer-index a {
color: #333333;
}

#footer-index span {
color: #333333;
margin-left: 500px;}

#menufooter{
float:left;
}
/*---END PRODUCTO FOOTER---*/






@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
