/*---RESET---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font:75%/1.231 "Helvetica Neue",Helvetica,Arial,sans-serif;*font-size:small;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input, select, textarea {
margin: 0;
}
/*---END RESET---*/


/*---CLASSES---*/
.clear{
clear: both;
}
.l-img{
margin: 10px;
float: left;
}
.r-img{
margin: 10px;
float: right;
}
.alpha{
margin-left:0;
}
.omega{
margin-right:0;
}
.alert-danger,
.alert-error {
  color: #b94a48 !important;
  background-color: #f2dede !important;
  border-color: #eed3d7 !important;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.imgbox{
float: left;
}
.imgbox img{
width: 237px;
height:  237px;
}

.masonry .masonry-brick {
z-index:1;
}

.masonry {
  
}
.highlight{
color: #F09726 !important;
font-weight: bold;
font-size: 16px;
margin-top: 5px;
}
.highlightsimple{
color: #F09726 !important;
}

/*---END CLASSES---*/



/*---HTML---*/

*::-moz-selection{
   background: #FFE6C8;
   color: #F19926;
}

*::selection {
   background: #FFE6C8;
   color: #F19926;
}

ul, ol {
list-style:none;
}

a:link{
color:#cccccc;
text-decoration: none;
}

a:visited{
text-decoration:none;
color: #cccccc;
}

a:hover{
text-decoration:none;
color: #cccccc;
}

a:active:{
text-decoration:none;
}

header {
background-color: #000;

font-size: 1.4em;
}
/*---END HTML---*/


/*---LAYOUT---*/

#header {

max-width: 1200px;
height:53px;
background-color: #000000;
margin: auto;
}

#header-index {
max-width: 1200px;
min-width: 800px;
height: 53px;
margin: 0 auto;
background-color: #000000;
z-index:3;
}

#headerwrapper {
width: 100%;
position: fixed;
background: #000;
z-index:3;
}

#headerwrapperc {
width: 100%;
background: #000;
}

#content {
margin: auto;
width: 960px;
}
#contet-wrapper{
width: 100%;
margin-top:30px;
}
#content-index{
margin: auto -120px 0 0;
width: 109%;
height:auto;
background-color: #fff;

}

#indexpage{
overflow: hidden;
}
#content-index img{
margin-top: -2px;
}

#cochinada {
width: 960px;
height:53px;
margin: auto;
}
/*---END LAYOUT---*/


/*---LOGIN---*/
#box{
text-align: center;
}
.spanform{
display: block;
padding: 0 0 10px 5px;
}
.inputbox{
border: 1px solid #CCC;
-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
height: 25px;
padding-left: 10px;
}

#loginform {
position: absolute;
left: 50%;
margin-left: -170px;
}
#login {
width: auto;
float: left;
background: #DFAF33 url(../images/loginbuttonbgn1.png) repeat-x;
color: white;
padding: 7px 10px 8px 10px;
text-shadow: 0px -1px #B88A27;
border: 1px solid #CF990D;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
margin: 0 12px 0 0;
border-radius: 5px;
cursor: pointer;
}
/*---END LOGIN---*/




/*---LOGO---*/



#logo{
width: 250px;
height: 50px;
float: left;
background-image: url(../images/logo2.png);
background-repeat:no-repeat;
margin: 3px 8px 0px 10px;
}

#logo span{
display: none;
}
/*---END LOGO---*/


/*---MENU---*/
#menu ul li{
display: inline;
padding-right: 50px;
float: left;
padding-top: 15px;
color: #cccccc;
}
#menu ul {
min-width: 350px;
}
#actions{
position: relative;
left: 50%;
margin-left: -65px;
}
#menu {
}
.headsection{
float:left;
width: 33%;
}
#search{
float: left;
margin-left: 100px;
line-height: 50px;
}
#searchform{
padding: 12px 0 0 20px;
}

#searchprincipal{
}

#hideshowsearch{
height: 20px;
width: 13px;
background: url('../images/bootstrap.png') no-repeat;
background-position: -288px -120px;
margin: 0 auto;
}

#searchback {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background-color:  rgba(0, 0, 0, 0.7);
width: 330px;
z-index: 3;
position: fixed;
/*
top: 50%;
left: 50%;
margin-top: -30px;
margin-left: -165px;
*/
}

.search-home{
vertical-align: middle;
border: 1px solid #CCC;
-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 16px;
height: 30px;
width:250px;
}

.search-button-home{
vertical-align: middle;
width:37px;
height:37px;
}


#user{
float:right;
background-color: #666666;
height: 53px;
min-width: 110px;
max-width: 202px;
color: #ffffff;
text-align:center;
}
#usernamehead{
display: block;
padding: 3px 8px;
}

#closession{
font-size: .8em;
display: block;
}
#signinhead{
display: block;
padding-top: 15px;
}
/*---END MENU---*/


/*---NAV---*/
#nav{
float: left;
padding-top: 20px;
padding-bottom: 10px;
width: 960px;
font-weight: bold;
}

#navrojo {
color: #A61C1C;
}
#nav span{
text-decoration: bold;

}
/*---END NAV---*/



/*---PRODUCT---*/
#product{
float: left;
width: 960px;
}

#left{
float:left;
}
#space{
float:left;}
#right{
}
#product-info p{
text-decoration:none;
text-align: justify;
font-size: 16px;
}

#product-info h1 {
font-size: 29px;
font-weight: bold;
color: #333;
padding-bottom: 6px;
}
#tienda-acceso{
font-weight: bold;
}
#product-info h2 {
padding-bottom: 11px;
font-size: 23px;
color: #666;
font-weight: lighter;
letter-spacing: 0;
}

.price {
font-size: 22px;
font-weight: bold;
color: #333;
line-height: 22px;
}

.def_select {
font-size: 12px;
color: black;
border: 1px solid #CCC;
-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 3px 5px;
cursor: pointer;
height: 27px;
width: 70px;
line-height: 27px!important;
}
/*
#boton {

border:0px solid #914040;
padding-left: 30px;
}

#boton-nouian{width:60px;}
.boton-nouian {
	background-color:#F09726;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:0px solid #914040;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
}.boton-nouian:hover {
	background-color:#F09726;
}.boton-nouian:active {
	position:relative;
	top:1px;
}
*/
#product-info p{
padding-top: 50px;
color: #666;
}

#price-area {
padding-top: 30px;
}

#cuantos {
padding-left: 150px;
color: #666666;
}
.detalles{
padding-top: 20px;
}

#details h3{
padding-bottom: 10px;
font-size: 18px;
color: #1E1D1D;
font-weight: bold;
}

#details p{
color: #666;
display: none;
}
ul.detalles label {
width: 104px;
color: #999;
float: left;
}

ul.detalles li span{
padding: 15px;
}
ul.detalles li {
border-top: 1px dotted #666;
padding: 6px 0;
overflow: hidden;
}

#maskprod {
overflow: hidden;
width: 368px;
}

#maskprod ul{
width: 900px;
}

#details {
padding-top:50px;
}
/*---END PRODUCT---*/


/*---THUMBS PRODUCT VIEW---*/
#thumbs{
float: left;
width: 400px;
height: 600px;
}
#thumbslist{
margin: 5px;
}
#thumbs li{
display: inline;
}

#main-imgdiv ul{
width:1500px;
position: relative;
border: 0px;
margin: 0px;
}
#main-imgdiv li img{
width:370px;
height: 370px;
border-radius: 5px;
}

#thumbslist li img{
width: 80px;
height: 80px;
border-radius: 3px;
}

#main-imgdiv{
width:370px;
height:370px;
overflow: hidden;
}
#main-img{
width:370px;
height: 370px;
text-align: center;
vertical-align: center;
}
/*---END THUMBS PRODUCT VIEW---*/





/*---EXPLORE TIENDAS---*/
#explore-shops {
float: left;
}

#cont-shop{
float: left;
}

#explore-shops ul li{
display: inline;
}


#explore-shops img{
z-index: -1000;
width: 300px;
height: 300px;
margin: 10px;
border-radius: 5px;
}


#spacebck {
position:absolute;
height:70px;
width: 300px;
background-color: rgba(0, 0, 0, 0.7);
z-index: 1000;
margin-left:10px;
margin-top: -80px;
color: #ffffff;
border-radius:5px;
display: none;
}
#spacebckindex {
position:absolute;
height:70px;
width: 237px;
background-color: rgba(0, 0, 0, 0.7);
z-index: 1000;
margin-top: -72px;
color: #ffffff;
border-radius:5px;
display:none;
}

#shop-text {
margin-left: 5px;
font-size: 14px;
}

#shop-title {
font-weight: bold;
font-size: 20px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */

/*---END EXPLORE TIENDAS---*/



/*---PRODUCT DETAILS---*/

/*---END PRODUCTO DETAILS---*/

/*---PRODUCT ANSWERS---*/

#quesans {
width: 100%;
}

#quesans h3{
padding-bottom: 10px;
font-size: 20px;
color: #666;
font-weight: bold;
margin: 0 0 0 80px;
}


#quesans form{
width: 800px;
margin-left:0 auto 0 auto;
}

#formquest{
margin:0 auto 45px auto;
width: 800px;
}

#questspace dl dt{
margin:10px auto;
width: 800px;
font-weight: bold;
font-size: 16px;
color:#333;
}

#questspace dl dd{
margin: 0 auto 28px 110px;
width: 800px;
height: 20px;
font-size: 14px;
color: #666;
}

#questimput{
margin-bottom: 10px;
width:800px;
border: 1px solid #CCC;
-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 10px;
cursor: pointer;
line-height: 27px;
max-width: 800px;
height: 80px;
font-family: arial;
font-size: 1.5em;
color: #666;
}
.boton{
width: auto;
float: right;
background: #DFAF33 url(../images/loginbuttonbgn1.png) repeat-x;
color: white;
padding: 5px 10px 5px 10px;
text-shadow: 0px -1px #B88A27;
border: 1px solid #CF990D;
display:inline-block;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
margin: 0 12px 0 0;
border-radius: 5px;
cursor: pointer;
display: inline-block;
font-size: 1.2em;
font-weight: bold;
}
/*
.boton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7d49c), color-stop(1, #eb9225) );
	background:-moz-linear-gradient( center top, #f7d49c 5%, #eb9225 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d49c', endColorstr='#eb9225');
	background-color:#f7d49c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 19px;
	text-decoration:none;
	float: right;
	cursor: pointer;	
	border:0px solid #914040;
}.boton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eb9225), color-stop(1, #f7d49c) );
	background:-moz-linear-gradient( center top, #eb9225 5%, #f7d49c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb9225', endColorstr='#f7d49c');
	background-color:#eb9225;
}.boton:active {
	position:relative;
	top:1px;
}

*/

#tip {
color: #aaa;
font-size: 12px;
}
/*---END PRODUCTO ANSWERS---*/


/*---CONTENIDO---*/

#contenido {
height: auto;
}
#contenido img{
border-radius:4px;}

/*---END CONTENIDO---*/


/*---TIENDA VIEW---*/
#tienda-header{
width: 960px;
height: 350px;
margin: 20px;
}

#tienda-izq{
float: left;
}
#tienda-izq img{
height: 360px;
width: 360px;
border-radius: 5px;
}
#descripcion-tienda {
margin: 20px;
float: left;
}
#descripcion-tienda h1{
font-size: 29px;
font-weight: bold;
color: #333;
margin-bottom: 6px;
}
#descripcion-tienda p{
width: 550px;
text-align: justify;
margin-top: 15px;
}
#descripcion-vend-contenedor{
width: 520px;
}
#descripcion-vendedor {
background-color: #FAFAFA;
width: 530px;
min-height: 100px;
border-radius: 10px;
}
#descripcion-vendedor p {
margin: 10px;
width: 500px;
padding-bottom: 10px;
font-size: 1.5em;
color: #858585;
}
#descripcion-vendedor img {
width: 100px;
height: 100px;
float: left;
}

#changebanner{
margin-top: -363px;
background: #F29C27;
width: 360px;
position: relative;
z-index: 3;
height: 20px;
border-radius: 3px;
}
#changebanner p{
text-align: center;
font-size: 16px;
color: #fff;
font-weight: bold;
}

#nombre-vendedor  h2{
font-size: 2.5em;
background-color: #F29C27;
min-width: 200px;
max-width: 370px;
margin-left: -10px;
text-align: center;
line-height: 30px;
color: #fff;
font-style: italic;
padding: 10px;
}

#triangle {
border-color: #955602 #955602 transparent transparent;
border-style:solid;
border-width:5px;
width:0;
height:0;
z-index:99;
float: left;
margin-left: -10px;
}

.credit{
color: #F29C27 !important;
font-weight: bold;
}
/*---END TIENDA VIEW---*/


/*---PANELMENU---*/
#panel-menu{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 300px;
height: 500px;
margin: 20px 0 0 20px;
float:left;
}

#panel-menu a{
color: black;
}
#panel-menu-content h2{
font-weight: bold;
font-size: 20px;
margin-top: 5px;
}
#panel-menu-content {
margin-left: 20px ;
margin-right: 20px;
color: #333;
}

#item-panel h2{
font-weight: bold;
font-size: 16px;
margin-top: 30px;
}

#item-panel ul{
font-size: 12px;
margin-top: 15px;
margin-left: 10px;
}

#item-panel ul li{
margin-top: 8px;
}
/*---END PANEL MENU---*/

/*---PANEL---*/
#panel-resume{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 600px;
min-height: 550px;
margin: 20px 0 0 20px;
float: left;
color: #333;
}

#panel-resume-content {
margin-left: 20px;
margin-top: 5px;
margin-right: 20px;
}

#panel-resume-content h1{
font-size: 20px;
font-weight: bold;
}

#panel-resume-content h2{
font-size: 14px;
line-height: 30px;
margin-bottom:5px;
margin-top:5px;
font-weight: bold;
}

#panel-resume-content ul{
margin-bottom:20px;
}

#importante{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 560px;
height: 110px;
background-color: #fafafa;
margin-top: 10px;
}
#importante-content {
margin-top: 10px;
margin-left: 15px;
}
#importante-content h1{
color: #F09726;
border: none;
}
#importante-content ul{
font-size: 14px;
margin-top: 5px;
}
#importante-content ul li{
margin-top: 5px;
}
#importante-content a{
color: #F09726;
cursor: pointer;
font-weight: bold;
}

#nouian-highlight{
color: #F09726;
font-weight: bold;
font-size: 16px;
margin-left: 60px;
margin-top: 5px;
}
/*---END PANEL---*/


/*---PANEL PRODUCT---*/
.productpanel{
margin: 5px 0 0 0;
padding: 10px;
background-color: white;
height: 50px;
font-size: 14px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.productpanelend{
margin: 5px 0 0 0;
padding: 10px;
background-color: #FFE9CD;
height: 50px;
font-size: 14px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#productpaneltitle{
width:150px;
float:left;
}
#vendorpanel{
font-size:12px;
}
#vendorpanel a{
color: black !important;
}
#productpaneltitle a{
color: #F29C27;
}
#productpanelprice{
float:left;
width: 120px;
text-align: center;
}
#productpanelpieces{
float:left;
width:100px;
text-align: center;
}
#productpanelimg{
width:50px;
height:50px;
}
#productpanelimage{
float:left;
position:relative;
}
#productpaneltext{
float:left;
margin: auto 0 auto 15px;
}
#productpanelaccions{
float:left;
width: 100px;
}
#productpanelmenu li:hover ul {
display: block;
position: absolute;
margin: 0;
padding: 0; }
#productpanelmenu li:hover li {
float: none; 
}
#productpanelmenu li:hover li a {
color: #000; 
}
#productpanelmenu li li a:hover { 
background-color: #F0F0F0;}
#productpanelmenu li ul {
display: none; 
width: 115px;
background-color: white;}
#productpanelmenu {
margin: 0;
padding: 0;
height: 1em; }
#productpanelmenu li {
list-style: none;
float: left; }
#productpanelmenu li a {
display: block;
padding: 3px 5px;
text-decoration: none; }
.botonpanel{
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7d49c), color-stop(1, #eb9225) );
	background:-moz-linear-gradient( center top, #f7d49c 5%, #eb9225 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d49c', endColorstr='#eb9225');
	background-color:#f7d49c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 19px;
	text-decoration:none;
	cursor: pointer;	
	border:0px solid #914040;
}.botonpanel:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eb9225), color-stop(1, #f7d49c) );
	background:-moz-linear-gradient( center top, #eb9225 5%, #f7d49c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb9225', endColorstr='#f7d49c');
	background-color:#eb9225;
}.botonpanel:active {
	position:relative;
	top:1px;
}
/*---END PANEL PRODUCT---*/

/*---QUESTIONS PANEL PRODUCT---*/
#questions{
padding:10px;
margin-bottom: 20px;
}
#questionitem{
padding: 0 0 20px 0 ;
min-height: 90px;
clear: both;
}
#questionsimage {
width: 60px;
float:left;
}
#questionsimage img{
width: 100px;
height:100px;
float:left;
}

#questionsproducttitle{
margin: 0 0 8px 120px;
}
#questionsproducttitle a{
color: #F29C25;
}
#questionsproducttitle h4{
font-size: 16px;
font-weight: bold;
color: black;
}
#questionpanel{
font-size: 14px;
}
#answerpanel{
margin: 5px 0 15px 25px;
font-size: 12px;
}
#questionsproduct{
}
#questionsanswered{
margin-left: 120px;
}
#questionnoanswer{
margin-left: 120px;
}
.timepanel{
margin-left: 10px;
font-size: 12px;
color: gray;
}
.timeanswer{
margin: 0 0 0 10px;
font-size: 10px;
color: gray;
}
#answerpanelimput{
margin-bottom: 10px;
width:385px;
height: 55px;
max-height: 55px;
max-width:385px;
border: 1px solid #CCC;
-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 3px 3px;
cursor: pointer;
line-height: 20px;
font-size:12px;
font-family: arial;
}
#questionsactions{}
/*---END QUESTIONS PANEL PRODUCT---*/

/*---UPLOAD SHOP IMAGE---*/
#changeshopimage img{
width: 300px;
height: 300px;
margin-left: 100px;
}
#changeshopimage p{
font-size: 14px;
margin: 0 30px 30px 30px;
}
#changeshopimage {
padding: 30px 30px 30px 30px;
}
#changeshopimage form{
padding: 30px 30px 30px 30px;
}

#botonshopimage input{

margin-left: auto;
margin-right: auto;
}
/*---END SHOP IMAGE---*/

/*---RATE PRODUCT---*/
#rateproduct{
}
#rateproduct h4{
padding: 10px 0 10px 10px;
font-weight:bold;
font-size: 14px;
}
#rateproduct img{
float:left;
width: 70px;
height: 70px;
padding: 0 10px 10px 10px;
}
#rateproduct p{
}

#rate{
padding: 10px;
}

#rate textarea{
max-width: 500px;
max-height: 50px;
width: 500px;
height: 50px;
float: left;
margin-bottom: 10px;
font-size: 12px;
font-family: arial;
}
#rate td{
width: 60px;
height: 20px;
}
#rate h4{
font-size: 13px;
font-weight: bold;
padding: 10px 0 5px 0;
}

#rateno{
display: none;
}


/*---END RATE PRODUCT---*/

/*---SEARCH VIEW---*/
#filtersandcategories{
width:195px;
float: left;
}

#filtersandcategories hr{
width:150px;
}

#filtersandcategories h2{
font-size: 14px;
margin: 10px 0 0 10px;
font-weight: bold;
}
#searchresults{
width: 763px;
float:left;
}
#resultsview{
background-color: white;
height: 30px;
padding: 10px;
}
#resultsview h2{
font-size: 16px;
font-weight: bold;
float: left;
}
.orange{
color:#F19A27 !important;
}
.orange b{
color:#F19A27 !important;
font-weight: bold;
}
#resultsviewselect{
float: right;
}
#sponsoredresults{
background-color: #FFF8F0;
-ms-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
height: 211px;
padding-top:5px;

}
#sponsoredresults h3{
margin: 0px 10px 0 10px;
font-size: 14px;
}
#normalresults{
background-color: white;
min-height: 600px;
}

.productsearchsponsored{
border-radius: 5px;
width: 165px;
height: 165px;
float: left;
background-color: white;
margin: 5px 5px 5px 5px;
border: 1px solid #FFEBD0;
padding: 5px;
}

.productsearchsponsored img{
width: 165px;
height: 130px;
}
.productsearchnormal{
width: 165px;
height: 165px;
float: left;
background-color: white;
margin: 20px 5px 5px 5px;
border: 1px solid #e9e9e9;
padding: 5px;
}

.productsearchnormal img{
width: 165px;
height: 130px;
}
.searchproductname {
color:#666 !important;
text-align: left !important;
font-size: 14px !important;
}
.searchproductshop{
color:#888 !important;
text-align: left !important;
font-size: 12px !important;
}
.searchproductprice{
color:#F19A27;
text-align: right !important;
float: right;
font-size: 12px;
}
#relatedsearchresult ul {
float: left;
min-width: 100px;
max-width: 225px;
margin-right: 25px;
overflow: hidden;
line-height: 14px;
}
#relatedsearchresult {
margin-top: 10px;
}
#relatedsearchresult a{
color: #F19A27 !important;
}
#relatedsearchresult ul li {
line-height: 14px;
margin-bottom: 15px;
}
#relatedsearch {
}
#relatedsearch h2{
font-size: 14px;
}
#relatedsearch b{
font-weight: bold;
}
#navsearch{
margin:20px 0 20px 0;
text-align: center;
}
#navsearch ul li{
display: inline;
font-size: 16px;
margin: 0 5PX;
}
#navsearch a{
font-weight: bold;
color: #F19A27 !important;
}

#categoryfilter li a{
font-size: 14px;
color: #F19A27;
}

#categoryfilter{
margin: 20px 0 30px 10px;
}

#categoryfilter li{
margin-top: 5px;
}
#categoryfilter  span{
color: #999;
margin-left: 8px;
}



#placefilter li a{
font-size: 14px;
color: #F19A27;
}

#placefilter{
margin: 20px 0 30px 10px;
}

#placefilter hr{
width: 100px:
}

#placefilter li{
margin-top: 5px;
}
#placefilter  span{
color: #999;
margin-left: 8px;
}

/*---END SEARCH VIEW---*/


/*---404---*/
#error-404 h1{
text-align: center;
font-size: 40px;
font-family: Arial;
padding: 40px 100px 10px 100px;
}

/*---END 404---*/


/*---ADMIN---*/

 .space{
 width: 150px;
 }
#completenew input{
	border: 1px solid #CCC;
	-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
	box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 25px;
	padding-left: 10px;

}
#completenew textarea{
	border: 1px solid #CCC;
	-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
	box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 10px;
	font-family: arial;
	height: 80px;
	max-width: 200px;

}

.styled-select select {
	-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
	box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: transparent;
	-webkit-appearance: none;
	width: 265px;
	padding: 2px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 25px;
}
.styled-select {
	-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
	box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 240px;
	height: 25px;
	overflow: hidden;
	background: url(../images/select.png) no-repeat right ;   
}


/*---END ADMIN---*/


/*---UPLOAD---*/
#upload-form{
}

#upload-form-content {
}
#upload-form-content  textarea{
max-height: 100px;
max-width: 250px;
font-family: arial;
}
#upload-form-content td{
width: 245px;
vertical-align: middle;
clear: both;
padding: 5px 0 5px 0;
}

#upload-form-content h1{
font-size: 20px;
font-weight: bold;
}



#upload-form-content input, textarea{
vertical-align: middle;
float: right;
border: 1px solid #CCC;
-moz-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
box-shadow: 0 1px 2px rgba(187,187,187,0.5) inset;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 16px;
height: 25px;
width:250px;
}

#upload-form-content textarea{
height: 50px;
}

#upload-form-content h2{
font-size: 14px;
line-height: 30px;
margin-bottom:5px;
margin-top:5px;
font-weight: bold;
border-bottom: 0px groove #d6d6d6;
}
#upload-form-content h3{
font-size: 12px;
line-height: 30px;
}
#destacar{
font-weight: bold;
color: #F09726;
font-size: 16px;
}
/*---END UPLOAD---*/

/*---PRODUCT FOOTER---*/
#footer{
margin: 10px auto;
padding:20px;
font-size: 10px;
width: 960px;
height: 30px;
}

#footer ul li{
width: 960px;
display: inline;
padding-right: 50px;
color: #333333;
}
#footer a {
color: #333333;
}

#spanfoot{
color: #333333;
float: right;}

#menufooter{
float:left;
}

#content-footer {
padding-top: 30px;
margin: 20px 20px 20px;
}
/*---END PRODUCTO FOOTER---*/



/*---INDEX FOOTER---*/
#footer-index{
font-size: 10px;
width: 960px;
height: 30px;
color: #CCC;
background: #000;
margin: 0 auto;
}


#footerwrap{
position:fixed ; 
bottom:0 ; 
right:0 ; 
left:0 ; 
margin: auto;
background: #000;
z-index:3;
}

#footer-index ul li{
width: 960px;
display: inline;
padding-right: 50px;
}


#footer-index span {
float: right;}

#menufooter-index{
float:left;
}

#content-footer-index {
padding-top: 10px;
padding-left: 20px;
}
/*---END INDEX FOOTER---*/

/*---USERDATA---*/
#userdatacont{
width:316px;
}

#userdata {
position:absolute;
left: 50%;
top:50%;
margin-left: -90px;
margin-top: -60px;
}
#userdata form{
margin-top: 10px;
text-align: center;
}

#userdata td {
font-weight: bold;
}
#userdata tr {
margin-top: 20px;
height:18px;
}

#userdata span {
color: orange;
font-weight: normal;
margin:5px 2px 5px 10px;
}



/*---END USERDATA---*/

#ayuda-nouian h3{
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: #555;
font-weight: bold;
margin-bottom: 3px;
}

#ayuda-nouian {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: #555;
margin-bottom: 3px;
margin-top: 15px;
}
#ayuda-nouian p{
color: #555;
margin-top: 15px;
margin-bottom: 20px;
}

#ayuda-nouian h2{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 16px;
margin-bottom: 7px;
padding-top: 9px;
margin-left: 0;
font-weight: bold;
color: #F09726;
}
#ayuda-nouian h1{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 20px;
margin-bottom: 7px;
padding-top: 9px;
margin-left: 0;
color: #F09726;
}



.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}